.block__title {
  font-size: 18px;
  font-weight: 400;
  
  margin: 0;
}

.block__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DADADA;
  padding: 15px 0 10px;
}

.block__link {
  color: inherit;
  text-decoration: none;
}